.add-course-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5vh;
}

.add-course-container h1,
.add-course-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.add-course-form,
.add-topic-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-course-form label,
.add-topic-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.add-course-form input,
.add-course-form textarea,
.add-topic-form input,
.add-topic-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  margin-bottom: 10px;
}

.add-course-form button,
.add-topic-form button {
  width: 50%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  font-size: 1.1em;
  transition: background-color 0.3s;
}

.add-course-form button:hover,
.add-topic-form button:hover {
  background-color: #45a049;
}

.course-list,
.topic-list {
  margin-top: 30px;
}

.course-list ul,
.topic-list ul {
  list-style-type: none;
  padding: 0;
}

.course-list li,
.topic-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-list li span,
.topic-list li span {
  flex-grow: 1;
}
.course-list li .button-container,
.topic-list li .button-container {
  display: flex;
  gap: 10px;
}

.course-list li button,
.topic-list li button {
  background-color: rgb(199, 30, 30);
  border: none;
  padding: 8px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
}

.course-list li button:hover,
.topic-list li button:hover {
  background-color: #ff333f;
}

.success-message {
  text-align: center;
  color: green;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .add-course-container {
    width: 95%;
    padding: 10px;
  }

  .add-course-form button,
  .add-topic-form button {
    width: 70%;
  }
}
