.add-course-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-course-container h2 {
  text-align: center;
  color: #333;
}

.add-course-container label {
  font-weight: bold;
  color: #444;
  display: block;
  margin-bottom: 0.5rem;
}

.add-course-container input[type="text"],
.add-course-container textarea {
  width: 95%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.add-course-container textarea {
  resize: vertical;
  min-height: 100px;
}

.add-course-container button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-course-container button:hover {
  background-color: #d11212;
}

.add-topic-button,
.add-section-button {
  background-color: #008CBA;
  color: white;
  margin-top: 1rem;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.add-topic-button:hover,
.add-section-button:hover {
  background-color: #007bb5;
}

.topic-section {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  background-color: #fff;
}

.topic-section h3,
.topic-section h4 {
  margin-bottom: 0.5rem;
  color: #666;
}

.text-editor-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.text-editor-container .DraftEditor-root {
  border: 1px solid #ccc;
  min-height: 150px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
}
