.home-container {
  padding: 0px;
  text-align: center;
  margin-top: 3vh;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(3, calc(33.333% - 20px));
  gap: 20px;
  max-width: 66.666%;
  margin: 0 auto;
}

.course-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  aspect-ratio: 2 / 1;
  width: 20vw;
  height: 15vw;
  box-sizing: border-box;
  margin-bottom: 2vw;
}

.course-card:hover {
  transform: scale(1.05);
}

.view-course-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #8C8CF4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.view-course-button:hover {
  background-color: #7878E0;
}

.description {
  line-height: 1.6;
  font-size: 4.5vh;
  margin: 10vh;
  border: 3.5vh dashed #8C8CF4;
  border-radius: 15vh;
  padding: 5vh;
  font-weight: 600;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .home-container {
    margin-top: 10vh; /* Увеличиваем отступ сверху для мобильных устройств */
  }

  .course-grid {
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 10px;
    max-width: 90%;
  }

  .course-card {
    width: 45vw;
    height: 30vw;
    padding: 15px;
    margin-bottom: 1vw;
  }

  .view-course-button {
    padding: 8px 16px;
  }

  .description {
    font-size: 3vh;
    margin: 5vh;
    border: 2.5vh dashed #8C8CF4;
    border-radius: 10vh;
    padding: 3vh;
  }
}

@media (max-width: 480px) {
  .home-container {
    margin-top: 15vh; /* Увеличиваем отступ сверху для мобильных устройств */
  }

  .course-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 95%;
  }

  .course-card {
    width: 90vw;
    height: 45vw;
    padding: 10px;
    margin-bottom: 1vw;
  }

  .view-course-button {
    padding: 6px 12px;
  }

  .description {
    font-size: 2.5vh;
    margin: 3vh;
    border: 2vh dashed #8C8CF4;
    border-radius: 8vh;
    padding: 2vh;
  }
}
