.home-container {
  padding: 20px;
  text-align: center;
  margin-top: 5vh;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(3, calc(33.333% - 20px));
  gap: 20px;
  max-width: 66.666%;
  margin: 0 auto;
}

.course-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  aspect-ratio: 2 / 1;
}

.course-card:hover {
  transform: scale(1.05);
}

.view-course-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.view-course-button:hover {
  background-color: #0056b3;
}
