body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-top: 5vh;
}

header {
  position: fixed;
  top: 0vh;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: #8C8CF4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  border-radius: 10px;
  margin: 1vh 1vw;
}

.logo-container {
  flex: 1;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
}

.menu, .authorization {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li, .authorization li {
  margin-left: 20px;
}

.menu li a, .authorization li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}

.menu li a:hover, .authorization li a:hover {
  text-decoration: none;
}

.auth-button {
  background-color: #908f87;
  border: none;
  border-radius: 15px;
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 2px solid #fff;
}

.auth-button:hover {
  background-color: #e0e0e0;
}

.auth-link {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  margin-right: 20px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 10px;
  }

  nav {
    flex-direction: column;
    padding: 10px;
  }

  .menu, .authorization {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu li, .authorization li {
    margin: 10px 0;
  }

  .logo-container {
    margin-bottom: 0;
    margin: 0vh 10vw;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    left: 20px;
  }

  .auth-button {
    padding: 7px 14px;
  }

  .authorization.show {
    display: flex;
  }
}

@media (max-width: 480px) {
  header {
    padding: 5px;
  }

  nav {
    padding: 5px;
  }

  .logo-container {
    margin-bottom: 0;
  }

  .auth-button {
    padding: 5px 10px;
  }
}
