body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-top: 5vh;
}

header {
  position: fixed; 
  top: 0vh;
  left: 5vw;
  right: 5vw;
  height: 10vh;
  background-color: #003DAE;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1000;
  border-radius: 10px;
  margin: 1vh 1vw; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.authorization {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.authorization li {
  margin-left: 20px; /* Добавляем отступы между элементами */
}

.authorization li a,
.authorization li span {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}

.authorization li a:hover,
.authorization li span:hover {
  text-decoration: none; 
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 0vh;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.auth-button {
  background-color: #908f87;
  color: #003DAE;
  border: none;
  border-radius: 15px;
  padding: 9px 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 2px solid #fff;
}

.auth-button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }
}
.auth-link {
  cursor: pointer;
  /* Добавьте другие стили, если необходимо */
  color: #000; /* Пример стиля */
  text-decoration: none; /* Убирает подчеркивание у ссылок */
}

.auth-link:hover {
  text-decoration: underline; /* Пример стиля при наведении */
}
